<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Verificar DNI</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#verificarBtn').click(function(event) {
        event.preventDefault();
        var dni = $('#dniInput').val();
        $.ajax({
          type: 'POST',
          url: '/verificar-dni',
          data: { dni: dni },
          success: function(response) {
            $('#resultado').text(response);
          },
          error: function() {
            $('#resultado').text('Error al realizar la verificación.');
          }
        });
      });
    });
  </script>
</head>
<body>
    <div id="container">
  <h1>Verificar DNI:</h1>
  <input type="text" id="dniInput" placeholder="Ingrese un DNI">
  <button id="verificarBtn">Verificar</button>
  <div id="resultado"></div>
</div>
</body>
</html>
